# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/
.env.bak/
.venv/

# Ignore environment and config files
*.env
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
